.registro-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
#registro-desc{
    color: var(--text-color1);
    font-size: 1em;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    margin-top: 2em;
}
.form-section-title{
    color: var(--accent-color-dark);
    font-size: 1em;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 1em;
}
.registro-form-container{
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        url("/static/imagenes/pattern1.png");
    background-color: white;
    padding: 3em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em white;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-direction: column;
}
.form-seperator {
    display: flex;
    justify-content: center;
    gap: 2em;
}
.form-seperator p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-seperator p input[type=text],input[type=number],input[type=file],select{
    outline: none;
}
.form-seperator p input[type=text],input[type=number] {
    position: relative;
    font-size: 0.8em;
    appearance: none;
    background-color: rgb(236, 236, 236);
    width: 33em;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 0.2em;
    margin: 0.35em 0;
    outline: none;
}
.form-seperator p input[type=text]:focus,
input[type=text]:valid,
input[type=number]:focus,
input[type=number]:valid {
    transition: all 0.2s;
    border: 2px solid var(--accent-color);
}
.registro-form-container p label {
    position: absolute;
    font-size: 0.7em;
    text-transform: uppercase;
    position: absolute;
    color: var(--text-color2); 
    left: 2em;
    opacity: 0.5;
    z-index: 2;
    transition: all 0.2s;
}
.form-seperator p:focus-within label{
    opacity: 0;
}
.form-seperator p.focused label {
    opacity: 0;
}
.form-seperator p select,input[type=file] {
    position: relative;
    font-size: 0.8em;
    appearance: none;
    background-color: rgb(236, 236, 236);
    width: 33em;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 0.2em;
    margin: 0.3em 0;
    display: flex;
}
.form-seperator p input[type=file]:focus {
    border: 2px solid var(--accent-color);
}
.form-seperator p select:invalid {
    text-transform: uppercase;
    color: var(--text-color2);
}
.form-seperator p select:focus{
    border: 2px solid var(--accent-color);
}

.registro-form-container input[type=submit]{
    appearance: none;
    border: 0;
    background-color: var(--accent-color);
    color: white;
    padding: 0.7em 1em;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.3em;
    border-radius: 0.2em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0,0.2);
    cursor: pointer;
    margin-top: 1em;
    transition: all 0.2s ease;
}
.registro-form-container input[type=submit]:hover{
    background-color: var(--accent-color-dark);
    transform: scale(1.01);
    transition: all 0.2s;
}